@model WeatherForecast

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Date</p>
    <p>@Model.Summary</p>
    <p>@Model.TemperatureC</p>
    <p>@Model.TemperatureF</p>
</div>
